<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VConverter</title>

    <!--========== CSS LINK ==========-->
    <link rel="stylesheet" href="/static/global.css">
    
    <!--========== BOXICONS LINK ==========-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--========== HEADER ==========-->
    <header class="header">
        <div class="nav container">
            <div class="nav_data">
                <a href="#" class="nav_logo">
                    <h1 translate="no"><span class="blue">V</span>Converter</h1>
                </a>
    
                <div class="nav_toggle" id="nav_toggle">
                    <i class='bx bx-menu nav_burger'></i>
                    <i class='bx bx-x nav_close'></i>
                </div>
            </div>

            <!--==========  NAV MENU ==========-->
            <div class="nav_menu" id="nav_menu">
                <ul class="nav_list">
                    <!--==========  DROPDOWN 1 ==========-->
                    <div class="dropdown_item">
                        <div class="nav_link">
                            Image Conversions <i class='bx bx-chevron-down dropdown_arrow'></i>
                        </div>

                        <div class="dropdown_menu">
                            <li><a href="bmp-to-jpg.html" class="dropdown_link"><i class='bx bxs-file-image blue'></i>BMP to JPG</a></li>
                            <li><a href="bmp-to-png.html" class="dropdown_link"><i class='bx bxs-file-image blue'></i>BMP to PNG</a></li>
                            <li><a href="gif-to-jpg.html" class="dropdown_link"><i class='bx bxs-file-gif purple'></i>GIF to JPG</a></li>
                            <li><a href="jpg-to-bmp.html" class="dropdown_link"><i class='bx bxs-file-jpg orange'></i>JPG to BMP</a></li>
                            <li><a href="jpg-to-png.html" class="dropdown_link"><i class='bx bxs-file-jpg orange'></i>JPG to PNG</a></li>
                            <li><a href="png-to-bmp.html" class="dropdown_link"><i class='bx bxs-file-png dark-gray'></i>PNG to BMP</a></li>
                            <li><a href="png-to-jpg.html" class="dropdown_link"><i class='bx bxs-file-png dark-gray'></i>PNG to JPG</a></li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </header>

    <div class="services">
        <a href="bmp-to-jpg.html">BMP to JPG</a>
        <a href="bmp-to-png.html">BMP to PNG</a>
        <a href="jpg-to-bmp.html">JPG to BMP</a>
        <a href="jpg-to-png.html">JPG to PNG</a>
        <a href="png-to-bmp.html">PNG to BMP</a>
        <a href="png-to-jpg.html">PNG to JPG</a>
    </div>

    <!--========== JAVASCRIPT LINK ==========-->
    <script src="/static/main.js"></script>
</body>
</html>