<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VConverter | JPG to BMP</title>
</head>
<body>
    <h1>JPG to BMP</h1>

    <form action="/jpgtobmp" method="POST" enctype="multipart/form-data">
        <label for="image">Selecione uma imagem JPG:</label>
        <input type="file" id="image" name="file" accept=".jpg, .jpeg" required>
        <br><br>
        <button type="submit">Enviar Imagem</button>
    </form>
</body>
</html>