<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VConverter | PNG to JPG</title>
</head>
<body>
    <h1>PNG to JPG</h1>

    <form action="/pngtojpg" method="POST" enctype="multipart/form-data">
        <label for="image">Selecione uma imagem PNG:</label>
        <input type="file" id="image" name="file" accept=".png" required>
        <br><br>
        <button type="submit">Enviar Imagem</button>
    </form>
</body>
</html>