<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VConversor</title>

    <!--CSS Link-->
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/index.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--Page Header-->
    <header>
        <!--Page Logo-->
        <a href="index.html" class="logo">
            <h1 translate="no"><span class="blue">V</span>Converter</h1>
        </a>

        <!--Navegation Bar-->
        <div class="navbar">
            <a href="png_jpg.html">PNG <span class="blue">-></span> JPG</a>
        </div>

        <!--Menu Icon-->
        <i class='bx bx-menu'></i>
    </header>

    <!--Page Content-->
    <div class="content">
        <!--Intro Text-->
        <div class="intro">
            <h1>Welcome to our file conversion tool</h1>
            <p>
                Whether you need to convert PNG to JPG, PNG to PDF, or JPG to PDF, our platform ensures a seamless experience. 
                Designed with user-friendliness in mind, this service helps you quickly transform files without compromising quality. 
                Let's make your file conversions easier and faster!
            </p>
        </div>

        <!--All Website Services-->
        <div class="allservices">
            <h2><span class="blue">All</span> services:</h2>

            <!--Displaying All Services-->
            <div class="services">

                <!--PNG to JPG Converter-->
                <a href="png_jpg.html" class="service">
                    <div class="iconservice">
                        <i class='bx bxs-file-png serviceicon green'></i>
                        <i class='bx bxs-right-arrow'></i>
                        <i class='bx bxs-file-jpg serviceicon'></i>
                    </div>

                    <h3 class="green">PNG to JPG</h3>
                    <p>Convert images with PNG extension to JPG extension.</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
